<section class="main-navbar">
  <ul class="dynamic-nav">
    <li><a routerLink="webcam-cropper" routerLinkActive="active">Webcam-Img</a></li>
    <li><a routerLink="image-crop" routerLinkActive="active">Image-Crop</a></li>
    <li><a routerLink="img-crop-using-webcam" routerLinkActive="active">Img-crop-using-webcam</a></li>
    <li><a routerLink="file-upload-progress" routerLinkActive="active">File-Upload-Progress-Indicator</a></li>
    <li><a routerLink="webcam-img" routerLinkActive="active">Webcam-img</a></li>
  </ul>
</section>
<div class="outlet-container">
  <router-outlet></router-outlet>
</div>