<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="containers">
                <input type="file" #fileDropRef id="fileDropRef" multiple="false" (change)="fileChangeEvent($event)"
                    accept="file_type | .png, .jpg, .JPEG, .webp" />
                <i class="material-icons file-attach-icon">attach_file</i>
                <h4>Drag and drop file here</h4>
                <h4>or</h4>
                <label for="fileDropRef">Browse for file</label>
            </div>
        </div>
        <div class="col-md-6">
            <webcam
                [height]="480"
                [width]="640"
                [trigger]="triggerObservable"
                (imageCapture)="captureImg($event)"
                (initError)="handleInitError($event)"
                [switchCamera]="nextWebcamObservable"
                [allowCameraSwitch]="allowCameraSwitch"
                (cameraSwitched)="cameraWasSwitched($event)"></webcam>
            <mat-icon class="actionBtn" (click)="getSnapshot()" title="Take Picture">camera_alt</mat-icon>
        </div>
        <div class="col-md-6">
            <image-cropper
                [imageChangedEvent]="croppedImage"
                [maintainAspectRatio]="true"
                [aspectRatio]="4 / 3"
                format="png"
                [imageURL]="capturedImage"
                (imageCropped)="imageCropped($event)"></image-cropper>
            <br><br>
            <!----------------- Action Button ------------------->
            <div class="image-cropped-btn">
                <button mat-mini-fab color="primary" (click)="rotateLeft()">
                    <i class="material-icons">rotate_left</i>
                </button>
                <button mat-mini-fab color="primary" (click)="flipHorizontal()">
                    <i class="material-icons">flip</i>
                </button>
                <button mat-mini-fab color="primary" (click)="flipVertical()">
                    <i class="material-icons" style="transform: rotate(90deg);">flip</i>
                </button>
                <button mat-mini-fab color="primary" (click)="zoomIn()">
                    <i class="material-icons">zoom_in</i>
                </button>
                <button mat-mini-fab color="primary" (click)="zoomOut()">
                    <i class="material-icons">zoom_out</i>
                </button>
            </div>
        </div>
        <div class="col-md-6" *ngIf="croppedImage">
            <img [src]="croppedImage" alt="">
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------
                                    File Upload & Preview 
--------------------------------------------------------------------------------------------->
<!-- <div>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
</div> -->
<!-- Add image preview section -->
<!-- <div *ngIf="selectedFile">
    <img [src]="previewImageUrl" alt="Preview">
</div> -->